################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/plugin5-demo/obj/Debug
/plugin5-demo/.vs/plugin5-demo/v15/Server/sqlite3
